################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureCost_to_LogAnalytics/.vs/AzureCost_to_LogAnalytics
