<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <UserName>$poccostingestionfacubjc3hcw7grw</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://poccostingestionfacubjc3hcw7grw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0d6c1317-f328-4b12-b90c-bb478eb29e74/resourceGroups/swo-dev-costanalytics-rsg/providers/Microsoft.Web/sites/poccostingestionfacubjc3hcw7grw</ResourceId>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://poccostingestionfacubjc3hcw7grw.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>